html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: "Times New Roman", "serif";
    box-sizing: border-box;
}

header {
  width: 100%;
}

#page-title {
  text-align: center;
  font-size: clamp(2rem, 6vw, 3rem);
  line-height: 1.1;
  margin: 1.5rem 0;
  letter-spacing: -0.02em;
  font-family: "Cormorant", "Times New Roman", "serif";
  font-weight: 500;
}

#main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  gap: 10px;
}

#chamber-box {
  position: relative;
  width: 64vw;
  height: 36vw;
/*
  min-width: 800px;
  min-height: 450px;
*/
}

#select-congress {
  position: absolute;
  left: 0px;
  top: -26px;
  height: 25px;
  width: 200px;
}

#select-chamber {
  position: absolute;
  height: 25px;
  top: -26px;
  left: 205px;
}

#search-members {
  position: absolute;
  height: 25px;
  top: -26px;
  right: -3px;
}

#search-members-input {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  /* set by resize_chamber when there is not enough room */
  width: 300px;
  padding-right: 16px;
}

/* In fact the little 'x' button still shows up in Chrome, but is hidden by the search icon */
.search-input::-ms-clear {
   width : 0;
   height: 0;
   display: none;
}

#search-members-button {
  position: absolute;
  top: 2px;
  right: 3px;
  border: 0px;
  background-color: #ffffff;
}

.search-button svg {
  display: block;
  width: 16px;
  height: 16px;
  fill: #fff;
  stroke: #000;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#search-members-results
{
  position: absolute;
  width: 400px;
  top: -1px;
  right: -3px;
  background: white;
  opacity: 1;
/*
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
*/
/*  opacity: 0; */
  visibility: hidden;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid black;
}

.search-members-result {
  height: 30px;
  text-color: #000;
  border-top: 1px solid black;
}

#chamber {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(140 140 140);
}

#member-popup {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 50px;
  font-size: 0.85rem;
  background-color: #ffffff;
  border: 1px solid black;
}

#vote-name {
  font-weight: bold;
  max-height: 2.8rem;
  overflow-y: hidden;
}

/*
#vote-date {
  position: absolute;
  width: 100%;
  top: 50%;
}
*/

#vote-date {
  float: right;
  font-style: italic;
}

#vote-summary {
  position: absolute;
  top: 350px;
  left: 300px;
  text-align: center;
  font-size: 0.9rem;
}

#vote-result {
  font-style: italic;
  font-size: 1.0rem;
}

.vote-count {
  font-size:1.20rem;
}

#rollcalls-box {
  position: relative;
/*
  min-width: 280px;
  min-height: 450px;
*/
  /* reset by handle_resize: this is the value for large widths  */
  width: 18vw;
  height: 36vw;

}

#rollcalls {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;

  border: 2px solid rgb(140 140 140);
  border-collapse: collapse;
  overflow-y: scroll;
  overflow-x: hidden;
  table-layout: fixed;
  scrollbar-width: 10px;
}

.vote-button {
  background-color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  padding: 2px 5px 2px 5px;
  border: 0px;
  width: 100%;
  user-select: none;
  position: relative;
}

.voteview-link {
  position: absolute;
  top: calc(100% - 20px);
  left: calc(50% - 30px);
  text-decoration: underline;
  color: #000000;
}

.vote-button:active {
  background-color: #dddddd;
}

#search-rollcalls {
  position: absolute;
  top: -26px;
  left: 0px;
  width: 100%;
  height: 25px;
}

#search-rollcalls-input {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  padding-right: 16px;
}

#search-rollcalls-button {
  position: absolute;
  top: 2px;
  right: 3px;
  border: 0px;
  background-color: #ffffff;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
tr {
  /* necessary for full width */
  display: block;

  width: 100%;
  border: 1px solid rgb(160 160 160);
}

tr:last-of-type {
  text-align: center;
}